<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление группы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="layouts/header :: header"></header>
<div class="container mt-5 mb-5">
    <h1>Добавление записи о группе</h1>
    <form action="/group/add/" method="post">
        <input type="number" name="num" placeholder="Номер группы" class="form-control"><br>
        <input type="text" name="curator" placeholder="Куратор" class="form-control"><br>
        <input type="text" name="fieldOfStudy" placeholder="Направление обучения" class="form-control"><br>
        <button type="submit" class="btn btn-dark">Добавить</button>
    </form>
</div>

</body>
</html>