<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="layouts/header :: header"></header>
<div class="starter-template text-center py-5 px-3">
    <h1>Информационная система <i>STUDENT</i></h1>
    <p class="lead">Данная система предназначена для мониторинга студентов и групп.</p>
</div>
</body>
</html>